<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203893619410-vi0mj8vkki716vci6a4s1cunko7520hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203893619410-vi0mj8vkki716vci6a4s1cunko7520hk</string>
	<key>API_KEY</key>
	<string>AIzaSyBGJHuRsYz9HhVmVtZBEhxKQnck6OapCGM</string>
	<key>GCM_SENDER_ID</key>
	<string>203893619410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>John.Better</string>
	<key>PROJECT_ID</key>
	<string>better-73739</string>
	<key>STORAGE_BUCKET</key>
	<string>better-73739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203893619410:ios:0cc5170002e47e2b290b0b</string>
</dict>
</plist>